body {
    font-family: arial;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: center;
}

.containter {
    display: flex;
}

.containter {
    padding: 5px;
}

.city {
    display: flex;
}
.lol {
    display: flex;
    flex-direction: column;
}
.lol2 {
    margin-top: 50px;
}

.box-1 {
    flex: 2;
}

.box-2 {
    flex: 2;
}

.box-3 {
    flex: 2;
}

.box-4 {
    flex: 2;
}

.box-5 {
    flex: 2;
}

.box-6 {
    flex: 2;
}

.one {
    display: flex;
    flex-direction: column;
}

.two {
    display: flex;
    flex-direction: column;
}

.three {
    display: flex;
    flex-direction: column;
}

.yep {
    display: flex;
}

h4 {
    text-align: center;
}

.header {
    background-color: lightslategray;
}

.city {
    background-color: lightsalmon;
}

h1 {
    padding-right: 20px;
}

h2 {
    background-color: lightpink;
    text-align: center;
}

.containter {
    background-color: lightsalmon;
}

.franch {
    background-color: lightsalmon;
}

.footer {
    background-color: lightslategray;
}

.table, th, td {
    border: 5px solid lightslategray;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 5px solid lightslategray;
}

.marg {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 4px;
}
.wow {
    width: 80px;
}

@media (max-width:320px) {
    .containter {
        display: flex;
        flex-direction: column;
    }
    .city {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .header {
        display: block;
        justify-content: center;
    }

    .box-1 {
        flex: 2;
        order: 1;
    }
    .box-2 {
        flex: 2;
        order: 2;
    }
    .box-3 {
        flex: 2;
        order: 4;
    }
    .box-4 {
        flex: 2;
        order: 3;
    }
    .box-5 {
        flex: 2;
        order: 5;
    }
    .box-6 {
        flex: 2;
        order: 6;
    }
}

@media (max-width:480px) {
    .containter {
        display: flex;
        flex-direction: column;
    }
    .city {
        display: flex;
        flex-direction: column;
    }
    .header {
        display: block;
        justify-content: center;
    }

    .box-1 {
        flex: 2;
        order: 1;
    }
    .box-2 {
        flex: 2;
        order: 2;
    }
    .box-3 {
        flex: 2;
        order: 4;
    }
    .box-4 {
        flex: 2;
        order: 3;
    }
    .box-5 {
        flex: 2;
        order: 5;
    }
    .box-6 {
        flex: 2;
        order: 6;
    }
}

@media (max-width:920px) {
    .containter {
        display: flex;
        flex-direction: column;
    }
    .city {
        display: flex;
        flex-direction: column;
    }
    .box-1 {
        flex: 2;
        order: 1;
    }
    .box-2 {
        flex: 2;
        order: 2;
    }
    .box-3 {
        flex: 2;
        order: 4;
    }
    .box-4 {
        flex: 1;
        order: 3;
    }
    .box-5 {
        flex: 2;
        order: 5;
    }
    .box-6 {
        flex: 2;
        order: 6;
    }
}